#modal-container {
    height: 560px;
    width: 770px;
    position: absolute;
    display: flex;
    justify-content: center;
    visibility: hidden;
}

#chakra-selection-modal {
    height: 350px;
    width: 410px;
    outline: 1px solid black;
    border: 8px solid #cf0804;
    background-color: beige;
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 20px 50px;
    font-weight: bold;
    position: absolute;
    z-index: 2;
    top: 100px;
}

#board {
    background-color: black;
}

#chakra-selection-modal h3 span {
    color: red;
}

.header {
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    justify-content: space-between;
}

.types > *,  .current-values > *, .subtracted-values > * {
    margin: 5px 0;
}

.adjustment-controls > * {
    font-size: 22px;
    line-height: 24px;
}

span.plus {
    margin-right: 2px;
}

.subtracted-values > *, .current-values > * {
    display: block;
}

.skills-carousel {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    height: 56px;
    overflow: hidden;
}

.skills-carousel img {
    height: 50px;
    -webkit-user-drag: none;
}

.arrow-left {
    height: 0;
    width: 0;

    border-right: 15px solid #AAA;
    border-bottom: 25px solid transparent;
    border-top: 25px solid transparent;
    display: inline-block;
    visibility: hidden;
}

.arrow-right {
    height: 0;
    width: 0;

    border-left: 15px solid #AAA;
    border-bottom: 25px solid transparent;
    border-top: 25px solid transparent;
    display: inline-block;
    visibility: hidden;
}

#modal-footer {
    display: flex;
    justify-content: space-evenly;
}

#modal-footer *[data-option] {
    height: 35px;
    width: 100px;
    border: 1px solid black;
    line-height: 35px;
    background-color: #FBE9B9;
    font-size: 20px;
}