<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/modal.css">
    <title>Document</title>
</head>
<body>
    <div id="chakra-selection-modal">
        <h3 class="text-center">Choose <span>1</span> random chakra(s)</h3>
        <div class="header">
            <span>chakra left:</span>
            <span>random chakra:</span>
        </div>
        <div class="container">
            <div class="types">
                <div class="chakra taijutsu">
                    <div class="square"></div>
                    <span class="row">taijutsu</span>
                </div>
                <div class="chakra bloodline">
                    <div class="square"></div>
                    <span class="row">bloodline</span>
                </div>
                <div class="chakra ninjutsu">
                    <div class="square"></div>
                    <span class="row">ninjutsu</span>
                </div>
                <div class="chakra genjutsu">
                    <div class="square"></div>
                    <span class="row">genjutsu</span>
                </div>
            </div>

            <div class="current-values">
                <span class="chakra-counter">0</span>
                <span class="chakra-counter">0</span>
                <span class="chakra-counter">0</span>
                <span class="chakra-counter">0</span>
            </div>

            <div class="adjustment-controls">
                <div>
                    <span class="plus">+</span>
                    <span class="minus">-</span>
                </div>
                <div>
                    <span class="plus">+</span>
                    <span class="minus">-</span>
                </div>
                <div>
                    <span class="plus">+</span>
                    <span class="minus">-</span>
                </div>
                <div>
                    <span class="plus">+</span>
                    <span class="minus">-</span>
                </div>
            </div>

            <div class="types">
                <div class="chakra taijutsu">
                    <div class="square"></div>
                    <span class="row">taijutsu</span>
                </div>
                <div class="chakra bloodline">
                    <div class="square"></div>
                    <span class="row">bloodline</span>
                </div>
                <div class="chakra ninjutsu">
                    <div class="square"></div>
                    <span class="row">ninjutsu</span>
                </div>
                <div class="chakra genjutsu">
                    <div class="square"></div>
                    <span class="row">genjutsu</span>
                </div>
            </div>

            <div class="subtracted-values">
                <span class="chakra-counter">0</span>
                <span class="chakra-counter">0</span>
                <span class="chakra-counter">0</span>
                <span class="chakra-counter">0</span>
            </div>
        </div>

        <div class="skills-carousel">
            <div>
                <span class="arrow-left"></span>
                <img src="../images/placeholder.png" alt="">
                <img src="../images/placeholder.png" alt="">
                <img src="../images/placeholder.png" alt="">
            </div>

            <span class="arrow-right"></span>
        </div>
        <div id="modal-footer">
            <div id="ok" class="text-center">ok</div>
            <div id="cancel" class="text-center">cancel</div>
        </div>
    </div>
</body>
</html>