body {
	user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
	-o-user-select: none;
	text-transform: uppercase;
	font-family: "Trebuchet MS", arial, verdana, sans-serif;
}

img {
	border: 1px solid black;
}

#board {
	border: 1px solid blue;
	margin: 1vh 12vw;
	padding: 0 30px;
	height: 560px;
	width: 770px;
	background-image: url(images/placeholder.png);
    background-size: cover;
}

#header {
	display: flex;
	justify-content: center;
}

#header .text {
	margin-top: 25px;
	font-weight: bold;
}

#player-one, #player-two {
	display: inherit;
	font-family: monospace;
	margin: 0 10px;
}

.player-avatar {
	height: 50px;
	width: 50px;
	margin: 10px;
}

.center {
	display: flex;
}

#next-round {
	width: 18vw;
	text-align: center;
}

#next-round h3 {
	margin: 5px;
	font-family: monospace;
}

span.username {
	color: #cf0804;
	font-size: 20px;
	display: block;
}

#timer-container {
	width: 100%;
	height: 10px;
	border: 2px solid black;
}

#timer-bar {
	width: 80%;
	height: 10px;
	background-color: #cf0804;
}

#chakra-gauge {
	display: flex;
	/* border: 1px solid pink; */
	justify-content: space-between;
	margin-top: 5px;
	text-transform: initial;
}

.taijutsu, .bloodline, .ninjutsu, .genjutsu, .any {
	height: 10px;
	width: 10px;
	border: 1px solid black;
	display: inline-block;
}

.taijutsu {
	background-color: #09F236;
}
.bloodline {
	background-color: #E90306;
}
.ninjutsu {
	background-color: #0795C5;
}
.genjutsu {
	background-color: white;
}
.any {
	background-color: #010007;
}

#teams {
	display: flex;
	justify-content: space-between;
}

#ch1, #ch2, #ch3, #ch4, #ch5, #ch6 {
	margin-bottom: 10px;
}

.avatar {
	height: 75px;
	width: 75px;
	display: inline-block;
}

.avatar img {
	width: 100%;
	/* height: 84%; */
}

.health {
	text-align: center;
	background-color: #3CE041;
	border: 1px solid black;
}

.skills {
	display: inline-block;
	padding: 5px 30px 5px 15px;
	border: 1px solid red;
	border-left: 0;
	background-color: #F2E1C3; /* beige */
}

.skills img , .char li {
	list-style-type: none;
	background-color: #ccc;
	height: 55px;
	width: 55px;
	margin: 5px 2.5px;
	display: inline-block;
	text-align: center;
	font-size: 70px;
	opacity: 0.5;
	z-index: 0;
	color: #aaa;
}

.skills .selected-skill {
	padding: 0;
	margin-right: 15px;
	opacity: 1;
}

.overlay {
	background-color: red;
    position: absolute;
	z-index: 1;
    opacity: 0.3;
}

#footer {
	display: flex;
	/* border: 1px solid black; */
	box-sizing: border-box;
	margin-top: 10px;
}

#menu {
	/* flex-grow: 3; */
	flex-basis: 20vw;
	padding: 0;
	margin: 0;
	/* border: 1px solid green; */
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

#placeholder {
	flex-basis: 13vw;
}

#menu li {
	list-style-type: none;
	background-color: #F2E1C3; /* beige */
	border: 4px solid #cf0804;
	border-width: 4px 0;
	height: 20%;
	border-radius: 5px;
	line-height: 28px;
	text-indent: 15px;
	box-shadow: 0 0 1px 1px black;
}

#menu li:nth-child(1) {
	margin-left: 20%;
}

#menu li:nth-child(2) {
	margin-left: 10%;
}

#details {
	display: flex;
	flex-basis: 66vw;
	/* flex-grow: 10; */
	border: 1px solid orange;
	background-color: #F2E1C3; /*beige*/
	border: 6px solid #cf0804;
}

#details img {
	height: 85px;
	width: 85px;
	margin: 5px;
}

#details .text {
	width: 100%;
	padding: 5px 15px;
	font-size: 11px;
}

#details .title {
	font-size: 14px;
	color: #cf0804;
	margin-bottom: 5px;
}

#skill-cost, #skill-stats {
	color: #777;
    font-size: 10px;
}

.description-header, #skill-stats {
	display: flex;
	justify-content: space-between;
}

#skill-cost div {
	margin-left: 5px;
}

.text .description {
	display: block;
	height: 55px;
    margin: 0;
}